<ion-header no-shadow>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add words</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 class="add-module-row"
      *ngIf="!showInputNewModuleBox">Choose a module or
    <button ion-button
            class="add-module"
            (click)="showInputNewModuleBox = !showInputNewModuleBox; currentModuleName = ''">
      Add new
    </button>
  </h3>
  <ion-item *ngIf="!showInputNewModuleBox">
    <ion-label>Choose exists module</ion-label>
    <ion-select [(ngModel)]="currentModuleName"
                name="module"
                placeholder="Select">
      <ion-option *ngFor="let module of modules" [value]="module">{{module}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-row *ngIf="showInputNewModuleBox">
    <ion-col col-9>
      <ion-input placeholder="Type name of module"
                 [(ngModel)]="currentModuleName"></ion-input>
    </ion-col>
    <ion-col col-3>
      <button ion-button (click)="addModule()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

  <h2 class="text-center">English</h2>
  <div class="editor-box">
    <div class="view-editor-box">
      <textarea [(ngModel)]="firstWord"
                #firstTextarea
                class="full-height"></textarea>
      <div class="results"
           (click)="setFocus('firstTextarea'); displayInput1=true"
           *ngIf="!displayInput1">
        <span *ngFor="let result of results1; let i = index"
              (click)="setToInput(result, 'firstWord'); displayInput1=true">
          {{result}}
          <span *ngIf="i < results1.length-1"
                class="dot">,</span>
        </span>

      </div>
    </div>

    <div class="control-editor-box">
      <button (click)="startRecords('en-US')">
        <ion-icon name="mic"></ion-icon>
      </button>

      <button (click)="playText(firstWord, 'en-US')"
              [disabled]="firstWord === ''">
        <ion-icon name="megaphone"></ion-icon>
      </button>

      <button (click)="googleTranslate('firstWord', 'en', 'ru')"
              [disabled]="firstWord === ''">
        <ion-icon name="swap"></ion-icon>
      </button>
    </div>
  </div>

  <h2 class="text-center">Russian</h2>
  <div class="editor-box">
    <div class="view-editor-box">
      <textarea [(ngModel)]="secondWord"
                #secondTextarea
                class="full-height"></textarea>
      <div class="results"
           (click)="setFocus('secondTextarea'); displayInput2=true"
           *ngIf="!displayInput2">
        <span *ngFor="let result of results2; let i = index"
              (click)="setToInput(result, 'secondWord'); displayInput2=true">
          {{result}}
        <span *ngIf="i < results2.length-1"
              class="dot">,</span>
        </span>
      </div>
    </div>

    <div class="control-editor-box">
      <button (click)="startRecords('ru-RU')">
        <ion-icon name="mic"></ion-icon>
      </button>

      <button (click)="playText(secondWord, 'ru-RU')"
              [disabled]="secondWord === ''">
        <ion-icon name="megaphone"></ion-icon>
      </button>

      <button (click)="googleTranslate('secondWord', 'ru', 'en')"
              [disabled]="secondWord === ''">
        <ion-icon name="swap"></ion-icon>
      </button>
    </div>
  </div>

  <div class="button-box">
    <button ion-button (click)="saveWords()"
            [disabled]="firstWord === '' || secondWord === ''">Save
    </button>
  </div>

  <div class="button-box">
    <button ion-button (click)="getFromDB()">GET FROM DB</button>
  </div>

</ion-content>
