<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>learning Settings</ion-title>
    <ion-buttons end>
      <button ion-button right (click)="saveSettings()">
        <ion-icon name="save"></ion-icon>
        Save
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Language which say of first</ion-label>
      <ion-select [(ngModel)]="learningSettings.firstLanguage"
                  [compareWith]="compareFn"
                  name="firstLanguage"
                  placeholder="Select">
        <ion-option *ngFor="let language of languages" [value]="language">{{language.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Learning module name</ion-label>
      <ion-select [(ngModel)]="learningSettings.moduleName"
                  name="moduleName"
                  placeholder="Select">
        <ion-option *ngFor="let module of modules" [value]="module">{{module}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item-divider>
      <ion-label>Pause between words</ion-label>
      <ion-badge color="secondary"
                 item-end>{{learningSettings.pauseBetweenWords}}
      </ion-badge>
    </ion-item-divider>

    <ion-item>
      <ion-range [min]="0"
                 [max]="8"
                 [snaps]="true"
                 [step]="1"
                 [(ngModel)]="learningSettings.pauseBetweenWords">
        <ion-label range-left>0</ion-label>
        <ion-label range-right>8</ion-label>
      </ion-range>
    </ion-item>

    <ion-item-divider>
      <ion-label>Pause between a couple words</ion-label>
      <ion-badge color="secondary"
                 item-end>{{learningSettings.pauseBetweenACouple}}
      </ion-badge>
    </ion-item-divider>

    <ion-item>
      <ion-range [min]="0"
                 [max]="8"
                 [snaps]="true"
                 [step]="1"
                 [(ngModel)]="learningSettings.pauseBetweenACouple">
        <ion-label range-left>0</ion-label>
        <ion-label range-right>8</ion-label>
      </ion-range>
    </ion-item>

    <ion-item-divider>
      <ion-label>Sorting</ion-label>
    </ion-item-divider>
    <div radio-group [(ngModel)]="learningSettings.sort">
      <ion-item>
        <ion-label>As is</ion-label>
        <ion-radio value="as is"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Alphabetizing</ion-label>
        <ion-radio value="alphabetizing"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Reverse alphabetizing</ion-label>
        <ion-radio value="reverse"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Random learning</ion-label>
        <ion-radio value="random"></ion-radio>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
