<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>My modules</ion-title>
    <ion-buttons end>
      <button
        ion-button
        right
        (click)="addModule()"
      >
        Add Module
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!modules.length">
    <ion-card class="wrap-words">
      <ion-card-content>
        <h4>Currently you don't have any modules</h4>
        <h3>Create my first module</h3>
      </ion-card-content>
    </ion-card>

    <h5 padding-horizontal>You can choose from suggested modules for add to your database</h5>

    <ion-item>
      <ion-label>Choose ALL</ion-label>
      <ion-checkbox
        (ionChange)="selectAllSuggestedModules()"
        [(ngModel)]="allSuggestedModulesSelectedFlag"
        item-right
      ></ion-checkbox>
    </ion-item>

    <ion-card *ngFor="let module of suggestedModules">
      <ion-card-content>
        <ion-item>
          <ion-label>
            <span>{{module.name}}</span>
            <p>Created {{module.moduleCreated | date}}</p>
            <p>{{module.wordsCounter}} words</p>
          </ion-label>
          <ion-checkbox
            [(ngModel)]="module.selected"
            (ionChange)="checkIfHasSelectedSuggestedModules()"
            item-right
          ></ion-checkbox>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-buttons text-center>
      <button
        ion-button
        (click)="addSuggested()"
      >ADD
      </button>
    </ion-buttons>
  </div>

  <ion-list *ngIf="modules.length">
    <ion-item
      padding-horizontal
      class="vertical-center"
      tappable
      (click)="goToModule(module)"
      *ngFor="let module of modules; let i = index"
    >
      <ion-avatar float-left class="left-avatar">{{i}}</ion-avatar>
      <div>
        <span>{{module.name}}</span>
        <p>Created {{module.moduleCreated | date}}</p>
        <p>{{module.wordsCounter}} words</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
