<ion-header>

  <ion-navbar>
    <ion-title>Edit module</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row *ngIf="module" class="border-bottom-bold">
    <ion-col float-left>
      <span>{{module.name}}</span>
      <p>{{module.wordsCounter}} words</p>
    </ion-col>

    <ion-col float-right text-end>
      <button
        ion-button
        small
        (click)="editModule()"
        icon-only>
        <ion-icon
          name="checkbox"
        ></ion-icon>
      </button>
    </ion-col>
  </ion-row>

  <ion-list>
    <ion-card *ngFor="let pair of words; let i = index" class="relative">
      <ion-card-content>
        <ion-item class="border-bottom">
          <ion-input
            [(ngModel)]="pair.word"
            [name]="'word' + i"
            type="text"
          ></ion-input>
        </ion-item>

        <ion-item class="border-bottom">
          <ion-input
            [(ngModel)]="pair.translateWord"
            [name]="'word' + i"
            type="text"
          ></ion-input>
        </ion-item>
        <button
          ion-button
          clear
          icon-only
          class="delete-row"
          (click)="deletePair(i)"
        >
          <ion-icon
            color="danger"
            name="close-circle"
          ></ion-icon>
        </button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-fab
    center
    bottom
  >
    <button ion-fab (click)="add()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-footer>
