.modal-word {
  opacity: 0;
  visibility: hidden;
  box-shadow: 5px 5px 12px 0 gray;
  width: 0;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  &.display {
    visibility: visible;
    z-index: 10;
    background-color: #fff;
    opacity: 1;
    height: 200px;
    width: 300px;
  }
  span {
    font-size: 40px;
  }
}
