<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>learning-mode</ion-title>
    <ion-buttons end>
      <button ion-button
              right
              icon-only
              (click)="openSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-row padding-horizontal
             *ngFor="let row of displayLearningWords">
      <ion-col col-5>{{row[0]}}</ion-col>
      <ion-col col-2
               text-center>-
      </ion-col>
      <ion-col col-5
               text-right>{{row[1]}}
      </ion-col>
    </ion-row>
    <div class="button-box">
      <div class="modal-word"
           [ngClass]="{'display': showModal}">
        <span>{{displayModalWord}}</span>
      </div>
    </div>
  </ion-list>
</ion-content>

<ion-fab left
         bottom
         *ngIf="!learningStarted">
  <button ion-fab (click)="start()">
    <ion-icon name="play"></ion-icon>
  </button>
</ion-fab>

<ion-fab right
         bottom
         *ngIf="learningStarted">
  <button ion-fab color="danger" (click)="stop()">
    <ion-icon name="square"></ion-icon>
  </button>
</ion-fab>
